html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);

  font-family: var(--font-family);
  font-size: var(--font-size-base);
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --white: white;
  --primary: #7653fc;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: "NotoSansKR", sans-serif;
  --font-size-base: 16px;
  --font-size-md: 14px;
  --font-size-sm: 12px;
  --font-size-lg: 18px;
  --font-size-h1: 26px;
  --font-size-h2: 22px;
  --font-size-h3: 20px;
}
